html {
	height: 100%;
	margin: 10px;
}

h2 {
	font-size: 50px;
	display: inline-block;
	text-align: center;
}


body {
  height: 100%;
  line-height: 150%;
  background-color: powderblue;
  /*background-image: url("broc.png");
  background-size: cover;
  background-position: center;*/
  
  background-image: linear-gradient(lightgreen, lightblue, blue);
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Computer Modern", Serif;
}

.homeBar {
	
	
}

.part1 {
	width: 960px;
	background-color: fuchsia;
	border: 2px solid gold;
	margin: 5px;
	padding: 10px;
	overflow: auto;
}

.math {
	width: 960px;
	border: 3px solid green;
	margin: 5px;
	padding: 10px;
	overflow: auto;
	background: rgba(200,200,200,0.4);
	
}

.boxed {
	border: 5px dotted blue;
	margin: 5px;
	padding: 10px;
	overflow: auto;
}

.hideText {
	color: #3C46C8;
	font-weight: bold;
	border-bottom: 1px dotted #3C46C8;
}

.hideText:hover{
	cursor: pointer;
	border-bottom: 1px solid #3C46C8;
}

.hidden {
	margin: 5px;
	padding: 10px;
	background: rgba(150,150,150,0.3);
	overflow: auto;
}

.vertical-menu {
  width: 200px; /* Set a width if you like */
  float: right;
  padding: 20px;
}

.vertical-menu a {
  background-color: lightgrey; 
  color: black; /* Black text color */
  display: block; /* Make the links appear below each other */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove underline from links */
}

.vertical-menu a:hover {
  background-color: darkgrey; /* Dark grey background on mouse-over */
}

.vertical-menu a.active {
  background-color: green; /* Add a green color to the "active/current" link */
  color: white;
}

